/*SCSS will include:

-Black background colour.
-Flexboxing for the two sections and their subdivisions. The 6 buttons for each side will be in a grid.
-Text size and colour formatting.*/
$buttonfontsize:12px;
$energyfontsize:14px;
$dialogueheadlinesize:18px;
$dialoguefontsize:14px;

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(36, 36, 36);
    color:white;
}

body{
    width:100%;
}

.players{
    width:100%;
    display:flex;
    > .player{
        width:50%;
        display:flex;
        flex-direction:column;


        > .statistics{
            width:100%;
            font-size:$energyfontsize;
            font-weight:bold;

            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            padding:2px;
            > .playerone__energy{
                padding:2px 0;
                padding-right:55%;
            }
            > .playertwo__energy{
                padding:2px 0;
                padding-right:55%;
            }
        }


        > .buttons{
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-gap:3px;
            padding:2px;
            > span{
                display:flex;
                justify-content:center;
                align-items:center;
                /*Super buttons swap between these two classes based on availability.*/
                /*P1*/
                .playerone__hyperbeamOff + button{
                    color:rgb(105, 105, 105);
                }
                .playerone__explosionOff + button{
                    color:rgb(105, 105, 105);
                }
                .playerone__homerunOff + button{
                    color:rgb(105, 105, 105);
                }
                .playerone__hyperbeamOn + button{
                    color:rgb(35, 0, 235);
                    font-weight:bold;
                }
                .playerone__explosionOn + button{
                    color:rgb(35, 0, 235);
                    font-weight:bold;
                }
                .playerone__homerunOn + button{
                    color:rgb(35, 0, 235);
                    font-weight:bold;
                }
                /*P2*/
                .playertwo__hyperbeamOff + button{
                    color:rgb(105, 105, 105);
                }
                .playertwo__explosionOff + button{
                    color:rgb(105, 105, 105);
                }
                .playertwo__homerunOff + button{
                    color:rgb(105, 105, 105);
                }
                .playertwo__hyperbeamOn + button{
                    color:rgb(35, 0, 235);
                    font-weight:bold;
                }
                .playertwo__explosionOn + button{
                    color:rgb(35, 0, 235);
                    font-weight:bold;
                }
                .playertwo__homerunOn + button{
                    color:rgb(35, 0, 235);
                    font-weight:bold;
                }
                

                button{
                    width:100%;
                    height:100%;
                    border-radius:1px;
                    background-color:rgb(209, 209, 209);
        
                    font-size:$buttonfontsize;
                    color:black;
                }

            }
        }


        > .images{
            width:100%;
            margin:10px 0 6px 0;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
}

.dialogue{
    width:100%;
    padding:4px;
    font-size:$dialoguefontsize;
    > .dialogue__headline{
        padding:6px 0;
        font-size:$dialogueheadlinesize;
    }
}