/*SCSS will include:

-Black background colour.
-Flexboxing for the two sections and their subdivisions. The 6 buttons for each side will be in a grid.
-Text size and colour formatting.*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #242424;
  color: white;
}

body {
  width: 100%;
}

.players {
  width: 100%;
  display: flex;
}
.players > .player {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.players > .player > .statistics {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.players > .player > .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  padding: 2px;
}
.players > .player > .buttons > button {
  border-radius: 1px;
  background-color: #d1d1d1;
  font-size: 14px;
  color: black;
}
.players > .player > .buttons > .superbutton {
  color: dimgray;
}
.players > .player > .images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialogue {
  width: 100%;
  font-size: 20px;
}